* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#gameContainer {
    display: inline-block;
    position: relative;
}

#battleZoneContainer {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

#actionBarContainer {
    /* z-index: 1; */
    background-color: white;
    position: absolute;
    height: 140px;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 4px black double;
    display: flex;
}

.attackOptions {
    padding: 10px;
    width: 66.7%;
    border-right: 4px black double;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    display: grid;
}

.attackType {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}